body {
  --body-color: #ffffff;
  --focus-color: #2161dc;
  --pointer: default;
}

#loading {
  --loading-easing: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-app-region: drag;
  -webkit-font-smoothing: antialiased;
  background-color: var(--body-color);
  bottom: 0;
  color: var(--dark-color);
  font-family: "Inter UI", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  left: 0;
  line-height: 1.5;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-rendering: optimizeLegibility;
  top: 0;
  transition-property: opacity;
  transition-timing-function: ease-out;
  word-spacing: normal;
  z-index: 100000;
}

.loading-content {
  align-items: center;
  animation: fadeIn 0.4s ease-out 1s both;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transition: opacity 0.4s ease-out;
  width: 100%;
}

#preloaderContent {
  height: 64px;
  position: relative;
  transition: opacity 0.2s ease-out;
  width: 64px;
}

#loadingText {
    font-display: block;
    height: 0;
    position: relative;
    top: 8px;
    opacity: 0;
    transition: opacity .8s .8s ease-out;
}